* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    background-color: rgb(226, 226, 226);
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    margin: 50px;
}


/* Container */

.container {
    display: grid;
}


/* Header Style */

.hero .heading {
    font-family: 'Clicker Script', cursive;
    font-size: 48px;
}

.hero .sub-heading {
    font-size: 24px;
}

.header {
    display: grid;
    grid-template-areas: 'hero hero feature-1' 'hero hero feature-2';
    grid-gap: 4px;
}

.hero {
    grid-area: hero;
    min-height: 420px;
    background-image: url(img/item.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding: 16px;
    box-sizing: border-box;
    display: grid;
    place-content: end start;
}

.hero h2,
.hero p {
    display: none;
}

.features {
    background-color: black;
    color: white;
    display: grid;
    place-content: end start;
    cursor: pointer;
    padding: 8px;
    letter-spacing: 2px;
}

.feature-1 {
    grid-area: feature-1;
    background-image: url(img/item-01.jpg);
    background-size: cover;
    background-position: center;
}

.feature-2 {
    grid-area: feature-2;
    background-image: url(img/item-02.jpg);
    background-size: cover;
    background-position: center;
}

.features .price {
    font-size: 2em;
    font-weight: 200;
}


/* Navigation Style */

.menu {
    order: -1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    min-height: 64px;
}

.brand h1 {
    font-family: 'Clicker Script', cursive;
    font-size: 2.3em;
}

.menu ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 4px;
}

.menu ul li a {
    display: block;
    background-color: rgb(26, 26, 26);
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 10px;
}

.menu ul li a:hover {
    color: tomato;
    background-color: rgb(10, 10, 10);
}


/* Menu Hamburger */

.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    z-index: 999;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0;
    top: -4px;
    left: -6px;
    cursor: pointer;
    z-index: 22;
}

.menu-toggle span {
    display: block;
    height: 3px;
    width: 28px;
    background-color: rgb(139, 139, 139);
    border-radius: 4px;
    transition: all 0.5s;
}


/* Hamburger Menu Animation */


/* parent child concept */

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 0;
}


/* siblings concept */

.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -2px);
}

.menu-toggle input:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}


/* Services Style */

.services {
    margin-top: 40px;
}

.our-services {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.service {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 2px 2px 8px rgba(100, 100, 100, 0.5);
}

.service h3 {
    font-size: 1.5em;
}

.service .desc {
    font-weight: 200;
    letter-spacing: 2px;
    font-size: 0.9em;
}

.service a {
    display: block;
    display: flex;
    height: 48px;
    width: 100px;
    margin: 16px auto;
    background-color: tomato;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
}

.service a:hover {
    background-color: rgb(236, 50, 17);
}

.service a p {
    margin: auto;
}


/* Gallery Style */

.gallery {
    margin-top: 40px;
}

.gallery .our-gallery {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}


/* Responsive Breakpoint  */

@media screen and (max-width: 1024px) {
    .menu {
        order: inherit;
        grid-template-columns: 1fr;
    }
    .menu .brand {
        display: none;
    }
    .hero h2,
    .hero p {
        display: inherit;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        order: -1;
        justify-items: end;
    }
    .menu-toggle {
        display: flex;
    }
    /* 
        Because of specificity, nav ul changed by
        .menu ul. So, it can come up .menu ul
        style that before display: grid, become
        display: flex
    */
    .menu ul {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgb(26, 26, 26);
        flex-direction: column;
        width: 100%;
        height: 100vh;
        /* vh - viewport height */
        justify-content: space-evenly;
        align-items: center;
        z-index: 2;
        transform: translateY(-100%);
        transition: all 1s;
        opacity: 0;
    }
    .menu ul.slide {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 600px) {
    body {
        margin: 32px;
    }
    .header {
        grid-template-areas: 'hero' 'feature-1' 'feature-2';
    }
}